<p>ART+COM Studios gestaltet und entwickelt Installationen und Räume mit
neuen Medien.</p>

<p>Wir nutzen neue Technologien als künstlerische Ausdrucksmittel und als
Medien zur interaktiven Vermittlung komplexer Information. Dabei entwickeln
wir sie ständig weiter und erforschen ihr Potenzial für die räumliche
Kommunikation und die Kunst.</p>

<p>Bei uns arbeiten Mediengestalter, Medienkünstler, IT-Entwickler,
Technologen, Programmierer, Kommunikations- und Produktgestalter,
Wissenschaftler, Ingenieure und Projektmanager Hand in Hand. Projekte werden
in kleinen, interdisziplinären Teams aus ihren individuellen Kontexten heraus
entwickelt. Was uns motiviert, ist der Anspruch, Grenzen zu verschieben und
gemeinsam Neues zu schaffen.</p>

